<div class="card">
    <div class="header">Inscription</div>
    <div class="info">
        <p class="title">Inscrivez pour creer votre session !</p>
        <div class="coolinput">
            <label for="input" class="text">Identifiant:</label>
            <input #Identifiant type="text" placeholder="Write here..." name="input" class="input">
        </div>
        <div class="coolinput">
            <label for="input" class="text">Mot de passe:</label>
            <input #MDP type="password" placeholder="Write here..." name="input" class="input">
        </div>
        <div class="coolinput">
            <label for="input" class="text">Confirmation mot de passe:</label>
            <input #ConfirmationMDP type="password" placeholder="Write here..." name="input" class="input">
        </div>
        <div #error style="color: red;">

        </div>
    </div>
    <div class="fakefooter">
        <button type="button" routerLink="/auth" class="action" style="background-color: #d9534f;">Retour </button>
        <button type="button" (click)="Registration(Identifiant,MDP,ConfirmationMDP)" class="action" style="background-color: #5cb85c;">Valider </button>
    </div>
</div>