<mat-card class="card-search">
    <mat-card-header>
      <mat-card-title>Rechercher un document</mat-card-title>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>

<mat-card class="card-files">
    <mat-card-header>
      <mat-card-title>Votre Cloud unifer</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-files-content">
        <div class="grid-container">
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            <div class="grid-item">
                <app-file></app-file>
            </div>
            
            <!-- Ajoutez plus de div.grid-item pour chaque photo -->
          </div>
    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>