<mat-card class="card-search">
    <mat-card-header>
      <mat-card-title>Rechercher un document</mat-card-title>
    </mat-card-header>

    <mat-card-content>

    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>

<mat-card class="card-files">
    <mat-card-header>
      <mat-card-title>Votre Cloud unifer</mat-card-title>
    </mat-card-header>

    <mat-card-content class="card-files-content">
        <div class="grid-container">
            <div *ngFor="let file of this.filesStackUI[this.filesStackUI.length -1];" class="grid-item">
                <app-file [info]="file"></app-file>
            </div>
        </div>
    </mat-card-content>

    <mat-card-footer>

    </mat-card-footer>
</mat-card>