<nb-layout>
    <nb-layout-header fixed>Header</nb-layout-header>
  
    <nb-sidebar>Sidebar</nb-sidebar>
  
    <nb-layout-column>
      <nb-card>
        <nb-card-header>Liste d'éléments</nb-card-header>
        <nb-card-body>
          <ul class="list">
            <li class="list-item">
              <div class="list-item-icon">
                <nb-icon icon="heart-outline"></nb-icon>
              </div>
              <div class="list-item-content">
                <h3>Élément de liste 1</h3>
                <p>Ceci est le contenu de l'élément de liste 1.</p>
              </div>
            </li>
            <li class="list-item">
              <div class="list-item-icon">
                <nb-icon icon="star-outline"></nb-icon>
              </div>
              <div class="list-item-content">
                <h3>Élément de liste 2</h3>
                <p>Ceci est le contenu de l'élément de liste 2.</p>
              </div>
            </li>
            <!-- Ajoutez d'autres éléments de liste ici -->
          </ul>
        </nb-card-body>
      </nb-card>
    </nb-layout-column>
  </nb-layout>
  