<div class="card">
    <div class="header">Login</div>
    <div class="info">
        <p class="title">Connectez vous pour accèder a votre Cloud !</p>
        <div class="coolinput">
            <label for="input" class="text">Identifiant:</label>
            <input type="text" placeholder="Write here..." name="input" class="input">
        </div>
        <div class="coolinput">
            <label for="input" class="text">Mot de passe:</label>
            <input type="password" placeholder="Write here..." name="input" class="input">
        </div>
    </div>
    <div class="footer">
        <button type="button" class="action" style="background-color: #d9534f;">Inscription </button>
        <button type="button" class="action" style="background-color: #5cb85c;">Connection </button>
    </div>
</div>