<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>Gerer les comptes google</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <button mat-flat-button color="primary">Ajouter un nouveau compte</button>
        <mat-list role="list">
            <mat-list-item role="listitem">
                Iteam 1
                <nb-icon icon="trash-2-outline"></nb-icon>
            </mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>