:host{
    display: flex;
    justify-content: center;
    mat-card{
        margin-top: 2%;
        width: 90%;
    }
    nb-icon{
        width: 2rem;
        color: #ff3d71;
    }
    ::ng-deep{
        mat-list-item{
            span{
                justify-content: space-between !important;
            }
        }
        .mat-flat-button.mat-primary{
            background-color: #00d68f !important;
        }
    }
    
        

      
      .file-input__input {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      
      .file-input__label {
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 600;
        color: #fff;
        font-size: 14px;
        padding: 10px 12px;
        background-color: #4245a8;
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
      }
      
      .file-input__label svg {
        height: 16px;
        margin-right: 4px;
      }      
}