// @use 'themes' as *;

// @use '@nebular/theme/styles/globals' as *;

// @include nb-install() {
//   @include nb-theme-global();
// };
// /* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@font-face {
  font-family: 'Borel'; // Choose a suitable name for the font family
  src: url('/assets/fonts/Borel-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Rasa'; // Choose a suitable name for the font family
  src: url('/assets/fonts/Rasa.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
